@model Writer
<div class="main-panel">
    <div class="content-wrapper">
        <div class="card">
            <div class="card-body d-flex justify-content-between">
                <div>
                    <h3 class="card-title">Details</h3>
                    <div>
                        <h5>Name : @Model.Name</h5>
                    </div>
                    <br />
                    <div>
                        <h5>Email : @Model.Email</h5>
                    </div>
                    <br />
                    <div>
                        <h5>Adress : @Model.Adress</h5>
                    </div>
                    <br />
                    <div>
                        <h5>About : @Model.About</h5>
                    </div>
                    <br />
                    <a class="btn btn-primary" asp-action="Index">Cancel</a>
                </div>
                <div><img style="width:400px;height:300px" src="~/assets/images/faces/@Model.Image" alt="Alternate Text" /></div>
            </div>
        </div>
    </div>
</div>