
@{
    Layout = null;
}

<!DOCTYPE html>

<h1>You commented successfully</h1>
<a asp-action="Index" style="background-color:red;border-radius:12px;text-decoration:none;width:150px;height:60px;">Go Back</a>